*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    border: solid red 1px;
    padding-top: 42px ;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: solid blue 1px;
}

img {
    height: 25px;
    width: 20px;
    float: left;
    margin-left: 81px;
    margin-right: 9px;
}

.text {
    font-weight: bold;
    vertical-align: 7px;
    float: left;
    margin-right: 72px;
}

.menu-list{
    list-style-type: none;
    float: left;
}

.menu{
    float: left;
}

.menu-item{
    display: inline-block;
    margin-right: 35px;
}

.btm{
    float: right;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.26);
    border-radius: 10px;
}

.rasp{
    clear: both;
}

body{
    background-color: red;
}