html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    padding: 0;
    border: none;
    background-color: transparent;
}

ul{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: relative;
    height: 10000px;
}

.header_wrap{
    background: url(../../Airpods/img/back-pink.png);
    background-repeat: no-repeat;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.menu_list{
    display: flex;
    gap: 0 40px;
    margin-top: 15px;
    font-weight: 700;
}

.menu_item:last-child{
    border-radius: 30px;
    background-color: black;
    color: white;
    height: 50px;
    width: 150px;
    padding-top: 15px;
    padding-left: 58px;
    margin-top: -17px;
}

.menu_item:last-child:hover{
    background-color: #fff;
    color: black;
}

.top_inner{
    position: relative;
}

.Pod{
    position: absolute;
    display: inline-block;
    margin-top: 186px;
    margin-left: 310px;
    z-index: 1;
    font-size: 210px;
    line-height: 120%;
    font-weight: 700;
}

.Air{
    position: absolute;
    display: inline-block;
    z-index: 2;
    margin-top: 186px;
    line-height: 120%;
    margin-left: -1000px;
    font-size: 210px;
    font-weight: 700;
}

.S{
    position: absolute;
    display: inline-block;
    z-index: 2;
    margin-top: 238px;
    margin-left: -292px;
    font-size: 210px;
    font-weight: 700;
    line-height: 120%;
}

.M{
    position: absolute;
    display: inline-block;
    margin-top: 460px;
    margin-left: -224px;
    font-size: 210px;
    font-weight: 700;
    line-height: 120%;
    z-index: 2;
}

.AX{
    position: absolute;
    display: inline-block;
    font-size: 210px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 598px;
    margin-left: -102px;
    z-index: 1;
}

.header_pods{
    position: relative;
    z-index: 2;
    width: 800px;
    height: 755px;
    margin-left: 200px;
    margin-top: 73px;
}

.assortiment_info{
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 46px; */
    text-align: center;
    max-width: 557px;
    margin: 46px auto 80px auto;
}

.assortiment_title{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 20px;
    line-height: 120%;
}

.assortiment_text{
    line-height: 120%;
}

.assortiment_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.assortiment_item{
    border: solid 1px #777777;
    border-radius: 20px;
    width: 260px;
    height: 275px;
}

.assortiment_item img{
    padding: 50px 55px;
}

.description_info{
    margin: 180px auto 40px auto;
    max-width: 1090px;
}

.title{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    padding-bottom: 20px;
    line-height: 120%;
}

.description_text{
    max-width: 653px;
    text-align: center;
    margin: 0 auto;  
    font-size: 16px;
    line-height: 120%;
}

.description_inner{
    display: flex;
    justify-content: center;
}

.info_list{
    flex-basis: 230px;
}

.description_item + .description_item{
    padding-top: 80px;
}

.info_text{
    line-height: 120%;
}

.description_inner img{
    margin-left: 150px;
    flex-basis: 245px;
    object-fit: cover;
}

.characteristics, .mailing_list{
    background-color: #FAFAFA;
}

.characteristics_info{
    margin: 180px auto 40px auto;
    max-width: 1090px;
    padding-top: 80px;
}

.characteristics_text{
    max-width: 653px;
    text-align: center;
    margin: 0 auto;  
    font-size: 16px;
    line-height: 120%;
}

.characteristics_inner{
    display: flex;
    justify-content: center;
}

.characteristics_inner img{
    object-fit: cover;
    margin-right: 100px;
}

.characteristics_list{
    flex-basis: 448px;
    margin-top: 70px;
    text-align: center;
}

.characteristics_item + .characteristics_item{
    padding-top: 36px;
}

.staying_title{
    font-weight: 700;
    font-size: 36px;
}

.mailing_list{
    padding: 173px 0;
}

.mailing-list-title{
    margin-bottom: 35px;
    line-height: 120%;
    font-size: 36px;
    text-align: center;
}

.mailing-list-inner{
    display: flex;
    gap: 60px;
    justify-content: center;
}

.mailing-list-text{
    line-height: 120%;
    flex-basis: 403px;
    text-align: center;
}

.mailing-list-form{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 581px;
}

.mailing-list-email{
    border: none;
    border-bottom: 1px solid #777777;
    background-color: transparent;
    padding: 3px 15px;
    width: 434px;
    margin-right: 25px;
    line-height: 120%;
    font-size: 20px;
    font-weight: 500;
    color: #151618;
}

.mailing-list-email::placeholder{
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.mailing-list-btn{
    background-color: #fff;
    border: solid 1px #151618;
    padding: 12px 41px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.checkbox-text{
    font-size: 13px;
    padding-left: 20px;
    line-height: 120%;
}

.mailing-list-label{
    margin-top: 12px;
}

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    padding-left: 20px;
}

.checkbox-style{
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #151618;
    margin-top: 5px;
}

.checkbox:checked + .checkbox-style::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #151618;
    top: 1px;
    left: 1px;
}

.photo{
    height: 1845px;
    background: url(../../Airpods/img/rec.png) left 1px bottom -205px no-repeat, url(../../Airpods/img/boyy.jpg) left top no-repeat;
    /* background-position: center; */
    /* background-size: cover;  */
}

footer{
    background-color: black;
}