@media all and (max-width:599px){
    .menu{
        float: none;
        text-transform: none;
    }
    .photo{
        float: none;
    }

    .yel{
        background-color: #f7e774;
    }

    .ball{
        background-color: white;
        margin-left: 0;
    }

    .menu-list-item{
        list-style-type: none;
        display: flex;
    }

    .menu-list{
        padding: 5px;
        text-transform: none;
    }
}